.container {
	display: flex;
	margin: 10px;
	border: 2px solid sandybrown;
	border-radius: 10px;
}
.order-info-container {
	display: flex;
	justify-content: space-between;
	width: 90%;
	padding: 10px;
}
.delete-btn {
	/* height: 40px; */
	display: flex;
	align-items: center;
}
.delete-btn button {
	background-color: rgb(231, 125, 125);
	height: 50px;
	border-radius: 15px;
	border: 0;
	cursor: pointer;
}
.order-info-1 p {
	margin: 0;
}
.container img {
	width: 90px;
}
